@model BTL.Models.ChiTiet_PM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTiet_PM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuMuonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieuMuonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocGiaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocGiaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDocGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDocGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SachID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SachID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTraThucTe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTraThucTe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChiTietID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
